#quiz {
  max-width: 420px;
  margin: 20px auto;
  min-height: 200px;
}

.option {
  background: white;
  margin: 10px;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #ffd6e7;
  transition: 0.3s;
}

.option:hover {
  background: #ffe3ef;
  transform: scale(1.02);
}

button {
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  background: #ff6fa5;
  color: white;
  font-size: 16px;
  cursor: pointer;
}