body {
  margin: 0;
  background: linear-gradient(#e9f8f2, #fff0f6);
  font-family: "Hiragino Maru Gothic ProN", sans-serif;
  text-align: center;
  color: #444;
}

h1 {
  color: #ff6fa5;
  margin-top: 20px;
  text-shadow: 1px 1px 2px white;
}

#canvas-holder {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}